{% if user.is_authenticated %}
<div class="chat-container" id="chatContainer">
    <h2>Tchat</h2>
    <div class="chat-box" id="chatBox">
        <ul class="message-list" id="messageList">
            {% for message in chat_messages reversed %}
                {% if message.author.id == request.user.id %}
                    <li class="user-message">
                        {{ message.content }}
                    </li>
                {% else %}
                    <li class="other-message">
                        {{ message.author }}: {{ message.content }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>    
    <div class="chat-input">
        <input id="chat-message-input" type="text" placeholder="Type your message..." style="width: 70%;" maxlength="50"><br>
        <button id="chat-message-submit" name="chatBtn">➤</button>
    </div>
</div>
{% endif %}