<div class="chat-container">
    <h2>Tchat</h2>
    <div class="chat-box" id="chatBox">
        <ul>
            {% for message in chat_messages reversed %}
                {% if message.author is request.user %}
                    <li class="flex justify-end mb-4">
                        {{ message.author }}: {{ message.content }}
                    </li>
                {% else %}
                <div>
                    {{ message.author }}: {{ message.content }}
                </li>            
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <input id="chat-message-input" type="text"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <script>
        const chatSocket = new WebSocket('ws://' + window.location.host + 'ws/chat/');
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') { 
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const content = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'content': content
            }));
            messageInputDom.value = '';
        };        
    </script>


    <!-- <div class="chat-input">
        <form id="chatForm"
            hx-ext="ws"
            ws-connect="/ws/chat"
            ws-send>
            {% include 'pong/partials/chat_form.html' %}
            <button id="chat" name="chat">➤</button>
        </form>
    </div>
</div>


<script>
    document.getElementById('chatForm').addEventListener('submit', function(event) {
        event.preventDefault();
        alert("1");
        const content = JSON.stringify({'content': content});
        alert("2");
        alert(content);
        alert("3");
        chatSocket.send(content);
        alert("4");
        this.reset();
        alert("5");
    });
</script> -->


<!-- <script>
    document.getElementById('chatForm').addEventListener('submit', function(event) {
        // alert("Submit"); 
        const inputs = this.querySelectorAll('input[type="text"], textarea');
        inputs.forEach(function(input) {
            input.value = '';
        });
    });
</script> -->
