{% extends 'pong/base.html' %}
{% load static %}
{% block content %}
<!-- Glitch filter -->
<!-- <video autoplay loop muted id="glitchVideo">
    <source src="images/glitch.mp4" type="video/mp4">
</video> -->

<!-- ft_Transcendence -->
<div class="title-container">
    <h3>ft_Transcendence</h3>
</div>

<!-- Panel section -->
<div class="login-container">
    <div class="btn-login">
        <a href="#" class="btnlog" id="loginButton">Login</a>
    </div>
    <div class="login-panel" id="loginPanel">
        {% include 'pong/partials/panel.html' %}
    </div>
</div>  

<!-- Tchat -->
<div id="chatSection">
    {% include 'pong/chat.html' %}
</div>

<!-- Profile Modal HTML -->
<div id="profileModal" style="display: none; position: absolute;">
    <div id="profileContent" class="synthwave-modal">
        <span id="closeProfileModal" style="cursor:pointer;">&times;</span>
        <h2 id="profileUsername"></h2>
        <button id="addFriendBtn">Add as Friend</button>
    </div>
</div>    

<!-- Slider Section -->
<section id="carouselIndicators" class="carousel slide slider_section" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="detail-box">
                            <h1>Pong</h1>
                            <p>Play a pong game with your friend or our opponent!</p>
                            <div class="btn-box">
                                <a href="#" id="playButton" class="btn1" data-bs-toggle="modal" data-bs-target="#pongModal">Play</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-box">
                            <img src="{% static 'pong/images/logo_pong.png' %}" alt="Game 1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="detail-box">
                            <h1>Memory</h1>
                            <p>Use your brain and remember the pictures</p>
                            <div class="btn-box">
                                <a href="#" class="btn1" data-bs-toggle="modal" data-bs-target="#memoryModal">Play</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-box">
                            <img src="{% static 'pong/images/logo_memory.png' %}" alt="Game 2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="detail-box">
                            <h1>Doom</h1>
                            <p>Rock and roll baby!</p>
                            <div class="btn-box">
                                <a href="#" class="btn1 btn-primary" data-bs-toggle="modal" data-bs-target="#doomModal" id="play-doom-btn">Play</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-box">
                            <img src="{% static 'pong/images/Doom.png' %}" alt="Game 3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <!-- Carousel Indicators -->
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselIndicators" data-bs-slide-to="2"></li>
    </ol>
</section>


<!-- Modale pour le jeu Pong -->
<div class="modal fade" id="pongModal" data-backdrop="" aria-labelledby="pongModalLabel" aria-hidden="true" data-bs-focus="false" data-bs-backdrop="false" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pongModalLabel">Pong Game</h5>
                <button type="button" class="btn-close" id="close-cross" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <!-- New Main Menu Canvas -->
                <canvas id="mainMenuCanvas" width="640" height="480" style="background-color: #1a1a1a;"></canvas>
                <div 
                    id="leftSide" class="main-menu-side">–Singleplayer
                    <button id="singleplayerButton" class="main-menu-button"></button>
                </div>
                <div 
                    id="rightSide" class="main-menu-side">–Multiplayer
                    <button id="multiplayerButton" class="main-menu-button"></button>
                </div>
                <div id="difficulty-menu" class="difficulty-menu mb-3" style="display: none;">
                    <!-- Ligne pour la difficulté -->
                    <div class="row align-items-center mb-3">
                        <div class="col-6 text-end">
                            <label for="difficultySelect" class="form-label">Difficulty:</label>
                        </div>
                        <div class="col-6">
                            <select id="difficultySelect" class="form-select">
                                <option value="easy">Easy</option>
                                <option value="medium" selected>Medium</option>
                                <option value="hard">Hard</option>
                            </select>
                        </div>
                    </div>
                
                    <!-- Ligne pour Darkness Mode -->
                    <div class="row align-items-center mb-3">
                        <div class="col-6 text-end">
                            <label for="darknessToggle" class="form-label">Darkness Mode:</label>
                        </div>
                        <div class="col-6">
                            <input type="checkbox" id="darknessToggle" class="form-check-input">
                        </div>
                    </div>
                
                    <!-- Ligne pour la taille de la balle -->
                    <div class="row align-items-center mb-3">
                        <div class="col-6 text-end">
                            <label for="ballSizeSelect" class="form-label">Ball Size:</label>
                        </div>
                        <div class="col-6">
                            <select id="ballSizeSelect" class="form-select">
                                <option value="small">Small</option>
                                <option value="medium" selected>Medium</option>
                                <option value="large">Large</option>
                            </select>
                        </div>
                    </div>
                
                    <!-- Ligne pour la taille de la palette -->
                    <div class="row align-items-center mb-3">
                        <div class="col-6 text-end">
                            <label for="paddle-size" class="form-label">Paddle Size:</label>
                        </div>
                        <div class="col-6">
                            <input 
                                id="paddle-size" 
                                type="range" 
                                class="form-range" 
                                min="50" 
                                max="150" 
                                step="25" 
                                value="100"
                            />
                            <span id="paddleSizeDisplay" class="ms-2">Medium</span>
                        </div>
                    </div>
                </div>
                
                
                <canvas id="pongCanvas" width="640" height="480" style="background-color: #000; display: none;"></canvas>
                
                <!-- New multiplayer menu -->
                <div id="multiplayer-menu" style="display: none;">
                    <button id="local-btn" class="btn btn-primary">Local</button>
                    <button id="tournament-btn" class="btn btn-primary">Tournament</button>
                    <button id="online-btn" class="btn btn-primary">Online</button>
                </div>
                
                <!-- New searching for opponent menu -->
                <div id="searching-menu" style="display: none;">
                    <button id="searching-btn" class="btn btn-primary" disabled>Searching for opponent...</button>
                </div>

                <!-- Tournament setup -->
                <div id="tournamentSetup" style="display: none;">
                    <h2>Welcome to the Great Pong Tournament</h2>
                    <p id="playerCount">Select Players Nicknames (0/8)</p>
                    <div id="playerInputs">
                        <label for="player1">Player 1: </label>
                        <input type="text" id="player1" name="player1">
                    </div>
                    <button id="addPlayerBtn" class="btn btn-primary">Add Player</button>
                </div>

                <!-- Tournament match -->
                <div id="tournamentMatch" style="display: none;">
                    <h2 id="tournamentStage"></h2>
                    <p id="matchup"></p>
                    <button id="startMatchBtn" class="btn btn-primary">Start Match</button>
                    {% comment %} <button id="proceedBtn" class="btn btn-primary">Proceed to Next Match</button> {% endcomment %}
                </div>

                <!-- Tournament winner -->
                <div id="tournamentWinner" style="display: none;">
                    <h2 id="winnerMessage"></h2>
                </div>
                <button id="proceedBtn" class="btn btn-primary" style="display: none;">Proceed to Next Match</button>
            </div>
            <div id="pong-footer" class="modal-footer">
                <button type="button" class="btn btn-primary" id="start-solo-game-btn" style="display: none;">Solo Game</button>
                <button type="button" class="btn btn-primary" id="start-local-multiplayer-btn" style="display: none;">Local Multiplayer</button>
                <button type="button" class="btn btn-primary" id="start-multiplayer-btn" style="display: none;">Multiplayer</button>
                <button type="button" class="btn btn-primary" id="rematch-btn" style="display: none;" disabled>Rematch</button>
                <button type="button" class="btn btn-primary" id="quit-btn" style="display: none;" disabled>Quit</button>
                <button type="button" class="btn btn-primary" id="go-back-btn" style="display: none;">Go Back</button>
                <button type="button" class="btn btn-primary" id="return-menu-btn" style="display: none;">Return to Menu</button>
                <button type="button" class="btn btn-primary" id="startTournamentBtn" style="display: none;">Start with X players</button>
            </div>
        </div>
    </div>
</div>

<!-- Modale pour le jeu Memory -->
<div class="modal fade" id="memoryModal" data-backdrop="" aria-labelledby="memoryModalLabel"  aria-hidden="true" data-bs-focus="false" data-bs-backdrop="false" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="memoryModalLabel">Memory Game</h5>
                <button id="closeModalM" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <!-- New Main Menu Canvas -->
                <canvas id="mainMenuCanvas-memory" width="640" height="480" style="background-color: #1a1a1a;"></canvas>
                <div 
                    id="leftSideM" class="main-menu-side">–Singleplayer
                    <button id="singleplayerButton-memory" class="main-menu-button"></button>
                </div>
                <div 
                    id="rightSideM" class="main-menu-side">–Multiplayer
                    <button id="multiplayerButton-memory" class="main-menu-button"></button>
                </div>
                <div id="multiplayer-menu-memory" style="display: none;">
                    <button id="local-btn-memory" class="btn btn-primary">Local</button>
                    <button id="tournament-btn-memory" class="btn btn-primary">Tournament</button>
                    <button id="online-btn-memory" class="btn btn-primary">Online</button>
                </div>
                <!-- Difficulty selector -->
                <div id="difficulty-menu-m" class="difficulty-menu-m mb-3">
                    <div id="memo-select">
                        <label for="memoryDifficultySelect" class="form-label">Select Difficulty:</label>
                        <select id="memoryDifficultySelect" class="form-select">
                            <option value="easy">Easy</option>
                            <option value="medium" selected>Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                    </div>
                    <!-- Game Customs -->
                    <div id="gamecustom-shuffle">
                        <label>
                            <input type="checkbox" id="shuffleToggle"> Enable ReShuffle Mode
                        </label>
                    </div>
                    <div id="gamecustom-hint">
                        <label>
                            <input type="checkbox" id="hintToggle"> Enable Show Random Card Mode
                        </label>
                    </div>
                <!--GAME-->
                </div>
                    <div id="memory-game-container" class="memory-game-container"></div>
                </div>
                 
                <!-- New multiplayer menu -->
                <div id="multiplayer-menu-memory" style="display: none;">
                    <button id="local-btn-memory" class="btn btn-primary">Local</button>
                    <button id="tournament-btn-memory" class="btn btn-primary">Tournament</button>
                    <button id="online-btn-memory" class="btn btn-primary">Online</button>
                </div>
                <!-- New searching for opponent menu -->
                <div id="searching-menu-memory" style="display: none;">
                    <button id="searching-btn-memory" class="btn btn-primary" disabled>Searching for opponent...</button>
                </div>
            <div id="memory-footer" class="modal-footer">
                <!--New footer button-->
                <button type="button" class="btn btn-primary" id="start-solo-game-btn-memo" style="display: none;">Solo Game</button>
                <button type="button" class="btn btn-primary" id="start-local-multiplayer-btn-memo" style="display: none;">Local Multiplayer</button>
                <button type="button" class="btn btn-primary" id="start-multiplayer-btn-memo" style="display: none;">Multiplayer</button>
                <button type="button" class="btn btn-primary" id="rematch-btn-memo" style="display: none;" disabled>Rematch</button>
                <button type="button" class="btn btn-primary" id="quit-btn-memo" style="display: none;" disabled>Quit</button>
                <button type="button" class="btn btn-primary" id="go-back-btn-memo" style="display: none;">Go Back</button>
                <button type="button" class="btn btn-primary" id="return-menu-btn-memo" style="display: none;">Return to Menu</button>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Modale pour le jeu Doom -->
<div class="modal fade" id="doomModal" data-backdrop="" aria-labelledby="doomModalLabel"  aria-hidden="true" data-bs-focus="false" data-bs-backdrop="false" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="doomModalLabel">Doom Game</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <button type="button" class="main-menu-side" id="start-doom-game-btn">Check this out</button>
                <div id="doom-game-container" class="doom-game-container" style="height: 400px; width: 640px;"></div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS Bundle && scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script> <!-- A verifier en Django -->
<script src="https://js-dos.com/6.22/current/js-dos.js"></script>
<script src="{% static 'pong/scripts/doom.js' %}"></script>
<script src="{% static 'pong/scripts/pong.js' %}"></script>
<script src="{% static 'pong/scripts/chat.js' %}"></script>
<script src="{% static 'pong/scripts/gamestats.js' %}"></script>
<script src="{% static 'pong/scripts/memory.js' %}"></script>
<script src="{% static 'pong/scripts/menu.js' %}"></script>

<script>
	// Fonction pour vérifier si le menu principal est visible
	function toggleFooterVisibility() {
		const footer = document.getElementById('pong-footer');
		const leftSide = document.getElementById('leftSide');
		const rightSide = document.getElementById('rightSide');

        const footerM = document.getElementById('memory-footer');
		const leftSideM = document.getElementById('leftSideM');
		const rightSideM = document.getElementById('rightSideM');
	
		// Vérifie si le menu principal est visible
		if (leftSide && rightSide && window.getComputedStyle(leftSide).display !== 'none' && window.getComputedStyle(rightSide).display !== 'none') {
			footer.style.display = 'none';  // Cache le footer
		} else {
			footer.style.display = 'flex';  // Affiche le footer
		}

        if (leftSideM && rightSideM && window.getComputedStyle(leftSideM).display !== 'none' && window.getComputedStyle(rightSideM).display !== 'none') {
			footerM.style.display = 'none';  // Cache le footer
		} else {
			footerM.style.display = 'flex';  // Affiche le footer
		}
	}
	
	// Exécute la fonction lors du chargement de la page et à chaque changement de menu
	document.addEventListener('DOMContentLoaded', toggleFooterVisibility);
	document.addEventListener('click', toggleFooterVisibility);
</script>
	
{% endblock content %}
