{% if message.author.id == user.id %}
	<li class="message user-message">
		{{ message.content }}
	</li>
{% elif message.author not in user.banned_users.all %}
	<li>
		<div class="message-meta">
			<span class="message-author">{{ message.author }}</span>
			<button class="ban-button" author-id="{{ message.author.id }}" title="Ban user">🚫</button>
			<button class="invite-button" user-id="{{ user.id }}" author-id="{{ message.author.id }}" title="Invite user">🕹️</button>
		</div>
		<span class="message other-message">{{ message.content|safe }}</span>
	</li>
{% endif %}