<span id="closeButton">X</span>
{% if not user.is_authenticated %}
	<button id="signinButton" hx-get="{% url 'signin' %}" hx-target="#sign_form" hx-swap="innerHTML">
		Sign In
	</button>
	<button id="signupButton" hx-get="{% url 'signup' %}" hx-target="#sign_form" hx-swap="innerHTML">
		Sign Up
	</button>
	<div id="sign_form"></div>
{% else %}
	<p>Welcome, {{ request.user }}</p>
	<button id="logoutButton" hx-get="{% url 'logout' %}" hx-target="#loginPanel" hx-swap="innerHTML">
		Log Out
	</button>
{% endif %}
