<span id="closeButton">X</span>
{% if not user.is_authenticated %}
	<button id="signinButton" hx-get="{% url 'signin' %}" hx-target="#signForm" hx-swap="innerHTML">
		Sign In
	</button>
	<button id="signupButton" hx-get="{% url 'signup' %}" hx-target="#signForm" hx-swap="innerHTML">
		Sign Up
	</button>
	<div id="signForm">
		{{ sign_html|safe }}
	</div>
{% else %}
	<p>Welcome, {{ user.username }}</p>
	<button id="logoutButton" hx-get="{% url 'logout' %}" hx-target="#loginPanel" hx-swap="innerHTML">
		Log Out
	</button>
	<div id="gameStats">
		{% include 'pong/partials/gamestats.html' %}
    </div>
{% endif %}
